<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

  <body>
  <!-- Jacket information -->
  	<h1>Buy now</h1>
    <hr />
  <div id="buyInfo">
  	<h2>Jacket name:</h2>
  	<p><%= @j.name %></p>
  	<h2>Jacket Price:</h2>
  	<p><%= @j.price %></p>
  	<h2>Jacket Size:</h2>
  	<p><%= @j.size %></p>
    <hr />
  </div>
  <!-- User payment information -->
  <h1> Payment info </h1>


  <%= render "placeholder" %>



</body>


</html>
