/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self*/



/*================================*/
/*Everything*/
/*================================*/
html, body {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

/* Gradient transparent - color - transparent */
/* Source: http://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}



/*================================*/
/*Logo banner*/
/*================================*/
#logoBanner {
//    background-color: bisque;
    width: 100%;
    margin: 0 auto;
}

#logo {
//    background-color: burlywood;
    margin: 0 auto;
}

#logoText {
    font-size: 3em;
    margin: 0 0 10px 0;
}

/*================================*/
/* Nav */
/*================================*/

#nav {
//    background-color: blanchedalmond;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    max-width: 900px;
}

#auth {
//    background-color: aliceblue;
    width: 175px;
    float: right;
    margin-right: 10%;
    font-size: 1.25em;
}

#home {
//    background-color: burlywood;
    /*width: 75px;*/
    float: left;
    margin-left: 20%;
    font-size: 1.25em;
}

#signUp {
    /*color: #730E15;*/
    display: inline-block;
    margin-right: 25%;

}

#logIn {
    display: inline-block;
}

#logOut {
    display: inline-block;
}

#empty {
    visibility: hidden;
}

a {
  text-decoration: none;
  color: #2E2F30;
}

/*================================*/
/*Yield container*/
/*================================*/

#container {
//    background-color: antiquewhite;
    margin: 0 auto;
    max-width: 900px;
    /*padding: 20px;*/
}

#footer {
//    background-color: lightblue;
    width: 100%;
}


/*================================*/
/*Footer*/
/*================================*/
//http://mystrd.at/modern-clean-css-sticky-footer/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/



/*================================================================*/
/*  Media Quiries stuff*/
/*================================================================*/


/*================================*/
/*Everything*/
/*================================*/
/*html {*/
    /*font-family: 'Raleway', sans-serif;*/
/*}*/

/* Gradient transparent - color - transparent */
/* Source: http://css-tricks.com/examples/hrs/ */
/*hr {*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background: #333;*/
    /*background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);*/
    /*background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);*/
    /*background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);*/
    /*background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);*/
/*}*/


/*================================*/
/*Logo banner*/
/*================================*/
/*#logoBanner {*/
    /*background-color: bisque;*/
    /*width: 940px;*/
    /*margin: 0 auto;*/
/*}*/

/*#logo {*/
    /*background-color: burlywood;*/
    /*width: 600px;*/
    /*margin: 0 auto;*/
/*}*/

/*#logoText {*/
    /*font-size: 3em;*/
/*}*/

/*================================*/
/* Nav */
/*================================*/

/*#nav {
    background-color: blanchedalmond;
    width: 940px;
    margin: 0 auto;
    text-align: right;
}

#auth {
    background-color: aliceblue;
    width: 150px;
    float: right;
}

#home {
    background-color: burlywood;
    width: 75px;
    float: left;
}

#signUp {
    /*color: #730E15;*/
    /*display: inline-block;*/
    /*margin-right: 25px;*/
/*}*/

/*#logIn {*/
    /*display: inline-block;*/
/*}*/

/*#logOut {*/
    /*display: inline-block;*/
/*}*/

/*#empty {*/
    /*visibility: hidden;*/
/*}*/

/*================================*/
/*Yield container*/
/*================================*/
/*
#container {
    background-color: antiquewhite;
    width: 900px;
    margin: 0 auto;
    padding: 20px;

}

#footer {
    background-color: lightblue;
    width: 100%;
}*/




