// Place all the styles related to the jackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html, body {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 260px;
}

//==========================
// Index
//==========================

h1 {
  text-align: center;
  margin: 10px 0 20px 0;
}

#tile {
//  background-color: chocolate;
  width: 90%;
  text-align: center;
  margin: 2% 5%;
  float: left;
  font-size: 1.25em;
}

#newJacketButton {
  clear: both;
//  background-color: cornflowerblue;
  text-align: center;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
}

.picTile {
  height: 300px;
  max-width: 260px;
//  background-color: lightsalmon;
  margin: 0 auto;
}



//==========================
// Show
//==========================

#InfoBox {
  width: 80%;
  max-width: 350px;
//  background-color: peachpuff;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
//  border: 1px black solid;
}

#PicBox {
  width: 80%;
  max-width: 260px;
//  background-color: beige;
  height: 260px;
  margin: 15px auto 2px auto;
}

#back {
  margin-top: 50px;
}

.topMargin{
   margin-top: 25px;
 }

#pic {
  margin: 0 auto;
}

//==========================
// Edit
//==========================

#editForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

//==========================
// New
//==========================

#newForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

input {
  margin-bottom: 25px;
}

.button {
  width: 80%;
  font-size: 1.25em;
  /* color: #B00100; */
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 300px;
  background-color: transparent;
  border: none;
}

.inputBox {
  //  margin: 0 auto;
//  background-color: #cccccc;
  width: 75%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.25em;
}


//=========================================================
// Media Queries 
//=========================================================


@media screen and (min-width: 500px) {



//==========================
// Index
//==========================

//h1 {
//  text-align: center;
//}



#tile {
//  background-color: chocolate;
  width: 260px;
  text-align: center;
  margin: 20px;
  float: left;
}


}
//
//#newJacketButton {
//  clear: both;
//  background-color: cornflowerblue;
//  text-align: center;
//}
//
//
//
////==========================
//// Show
////==========================
//
//
//#back {
//  margin-top: 50px;
//}
//
//.topMargin{
//   margin-top: 25px;
// }
//
//f.submit {
//  background-color: #B00100;
//}

//  ==============================================
//  End of media query 1
//  ==============================================

@media screen and (min-width: 850px) {



  //==========================
  // Show
  //==========================
  #InfoBox {
    width: 350px;
//    background-color: peachpuff;
//    margin-right: 80px;
    float: right;
    margin-top: 10px;
//    border: 1px lightgray solid;
  }

  #PicBox {
    width: 80%;
    max-width: 260px;
//    background-color: beige;
    height: 260px;
    margin: 15px auto 2px auto;
    float: left;
  }

  #nothing {
    visibility: hidden;
    clear: both;
  }




}