// Place all the styles related to the jackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//==========================
// Index
//==========================

h1 {
  text-align: center;
  margin: 10px 0 20px 0;
}

#tile {
  background-color: chocolate;
  width: 90%;
  text-align: center;
  margin: 2% 5%;
  float: left;
}

#newJacketButton {
  clear: both;
  background-color: cornflowerblue;
  text-align: center;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}



//==========================
// Show
//==========================

#rightInfoBox {
  width: 80%;
  background-color: peachpuff;
  margin: 0 auto;
  text-align: center;
}

#leftPicBox {
  width: 80%;
  background-color: beige;
  height: 500px;
  margin: 15px auto 0 auto;
}

#back {
  margin-top: 50px;
}

.topMargin{
   margin-top: 25px;
 }


//==========================
// Edit
//==========================

#editForm {
  background-color: #333333;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

//==========================
// New
//==========================

#newForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


//=========================================================
// Media Queries 
//=========================================================


//==========================
// Index
//==========================

//h1 {
//  text-align: center;
//}

//#tile {
//  background-color: chocolate;
//  width: 260px;
//  text-align: center;
//  margin: 20px;
//  float: left;
//}
//
//#newJacketButton {
//  clear: both;
//  background-color: cornflowerblue;
//  text-align: center;
//}
//
//
//
////==========================
//// Show
////==========================
//
//#rightInfoBox {
//  width: 350px;
//  background-color: peachpuff;
//  float: right;
//}
//
//#leftPicBox {
//  width: 350px;
//  background-color: beige;
//  height: 500px;
//  margin-left: 100px;
//}
//
//#back {
//  margin-top: 50px;
//}
//
//.topMargin{
//   margin-top: 25px;
// }
//
//f.submit {
//  background-color: #B00100;
//}
