// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginFormArea {
  text-align: right;
  //  background-color: #cccccc;
  width: 500px;
  margin: 0 10px;
}

#newUser {
  text-align: center;
  background-color: aquamarine;
  margin-top: 25px;
}