// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//==============================
//Form area
//==============================

#userFormArea {
  text-align: right;
//  background-color: #cccccc;
  margin: 0 auto;
}

#userForm {
  margin-top: 100px;
}

.inputBox {
//  margin: 0 auto;
  background-color: #cccccc;
  width: 75%;
}
