// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//==============================
//Form area
//==============================

#userFormArea {
//  background-color: #B00100;
  margin: 0 0 0 0;
}

#userForm {
  margin-top: 100px;
}

.inputBox {
//  margin: 0 auto;
  background-color: #cccccc;
  width: 75%;
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
  font-size: 1.25em;
}

input {
  width: 100%;
  height: 30px;
  max-width: 275px;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;

}

#userSubmit {
  margin: 0 auto;
}
